body {
    font-family: Helvetica, sans-serif;
    color: #eee;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.remark-slide-content {
    background-color: #333;
}

td,
th {
    padding: 5px 10px;
}

th {
    color: #fa0;
    text-align: left;
    border-bottom: 1px solid;
    font-weight: 100;
}

th:not(:first-child),
td:not(:first-child) {
    border-left: 1px solid #fff2;
}

tr:not(:last-child) {
    border-bottom: 1px solid #fff2;
}

code {
    color: #9ef;
    background: #272822;
    padding: 1px 3px;
    border-radius: 5px;
    border: solid 1px #444;
}

img {
    max-width: 100%;
    max-height: 100%;
}
